@layer base {
  [type='checkbox'],
  [type='radio'] {
    @apply h-4 w-4 border border-gray-500 bg-white text-primary;

    appearance: none;
    padding: 0;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    margin-top: 0.25em;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    print-color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
  }

  [type='checkbox'] {
    @apply rounded-sm;
  }

  [type='radio'] {
    border-radius: 100%;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  [type='checkbox'],
  [type='radio'] {
    &:focus {
      @apply border-primary outline-none ring ring-primary ring-opacity-50;
    }

    &:checked {
      @apply border-transparent bg-current;

      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;

      @media (forced-colors: active) {
        appearance: auto;
      }
    }

    &:disabled {
      opacity: 0.6;

      ~ label {
        opacity: 0.6;
      }
    }
  }

  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  [type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
}
