@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea {
    @apply rounded-sm border border-solid border-gray-500 bg-white px-3 py-2 text-base;

    appearance: none;

    &:focus {
      @apply border-primary outline-none ring ring-primary ring-opacity-60;
    }

    &::placeholder {
      @apply text-gray-500;

      opacity: 1;
    }

    &:disabled {
      @apply bg-gray-100;
    }
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-year-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-second-field,
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-file {
    @apply relative flex justify-start bg-white text-base text-gray-900;

    input[type='file'] {
      @apply absolute inset-0 w-full opacity-0;
    }
  }

  .form-file__selector,
  .form-file__filename,
  .form-file__clear {
    @apply relative block whitespace-nowrap px-3 py-2;
  }

  .form-file__selector,
  .form-file__clear {
    @apply cursor-pointer border border-solid border-gray-500 bg-gray-200;
  }

  .form-file__selector {
    @apply rounded-s-sm;

    &:hover,
    &:active {
      @apply bg-gray-300;
    }

    input[type='file']:focus ~ & {
      @apply border-primary outline-none ring ring-primary ring-opacity-60;
    }
  }

  .form-file__filename {
    @apply flex-auto overflow-hidden text-ellipsis rounded-e-sm border-y border-e border-solid border-gray-500;

    .form-file--clearable & {
      @apply rounded-none border-e-0;
    }
  }

  .form-file__clear {
    @apply hidden rounded-e-sm;

    &:hover,
    &:active {
      @apply bg-gray-300;
    }

    &:focus-visible {
      @apply border-primary outline-none ring ring-primary ring-opacity-60;
    }

    .form-file--clearable & {
      @apply block;
    }
  }
}
