@layer base {
  select {
    @apply rounded-sm border border-solid border-gray-500 bg-white py-2 pl-3 pr-10 text-base;

    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23989ea0' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    print-color-adjust: exact;

    &[multiple],
    &[size]:not([size='1']) {
      @apply pr-3;

      background-image: none;
      print-color-adjust: unset;
    }

    &:focus {
      @apply border-primary outline-none ring ring-primary ring-opacity-50;
    }

    &:disabled {
      @apply bg-gray-100;
    }
  }
}
