@layer base {
  a:focus,
  button:focus {
    @apply outline-none;
  }

  a:focus-visible,
  button:focus-visible,
  summary:focus-visible {
    @apply outline-none ring ring-secondary ring-opacity-60;
  }

  small {
    @apply text-sm;
  }
}
