{% extends "wagtailadmin/bulk_actions/confirmation/base.html" %}
{% load wagtailadmin_tags i18n %}

{% block titletag %}
  {% with counter_val=items|length %}
    {% blocktrans trimmed with counter=counter_val|intcomma count counter_val=counter_val %}Supprimer 1 inscription{% plural %}Supprimer {{ counter }} inscriptions{% endblocktrans %}
  {% endwith %}
{% endblock %}

{% block header %}
  {% include "wagtailadmin/shared/header.html" with title="Supprimer les inscriptions" icon="clipboard-user" %}
{% endblock header %}

{% block items_with_access %}
  {% if items %}
    <p>
      {% blocktrans trimmed count counter=items|length %}
        Êtes-vous sûr(e) de vouloir supprimer cette inscription ?
      {% plural %}
        Êtes-vous sûr(e) de vouloir supprimer ces inscriptions ?
      {% endblocktrans %}
    </p>
    <ul>
      {% for item in items %}
        <li>
          <a href="{% url "admin_registrations:edit" item.item.id %}" target="_blank" rel="noreferrer">{{ item.item }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock items_with_access %}

{% block items_with_no_access %}
  {% blocktrans trimmed asvar no_access_msg count counter=items_with_no_access|length %}Vous n’avez pas l’autorisation de supprimer cette inscription{% plural %}Vous n’avez pas l’autorisation de supprimer ces inscriptions{% endblocktrans %}
  {% include "admin/registrations/bulk_actions/list_items_with_no_access.html" with items=items_with_no_access no_access_msg=no_access_msg %}
{% endblock items_with_no_access %}

{% block form_section %}
  {% if items %}
    {% include "wagtailadmin/bulk_actions/confirmation/form.html" with action_button_class="serious" action_button_text="Oui, supprimer" no_action_button_text="Non, ne pas supprimer" %}
  {% else %}
    {% include "wagtailadmin/bulk_actions/confirmation/go_back.html" %}
  {% endif %}
{% endblock form_section %}
