<div class="w-field__wrapper">
  {% if self.help_text %}
    <div class="w-field__help">
      <p class="help">{{ self.help_text }}</p>
    </div>
  {% endif %}
  <div class="w-field__input w-field__textoutput" role="textbox" tabindex="0" aria-readonly="true">
    {{ display_value }}
  </div>
</div>
