{% comment "text/markdown" %}
  Variables this template accepts:

  - `level` - The level of the alert.
  - `classname` - String of CSS classes to apply to the container element.
  - `dismissible` - Whether it is possible to dismiss the alert.
  - `dismissible_focused` - The selector of the element which will be focused once dismissed.
  - `children` - The alert's content.

{% endcomment %}
<div class="alert alert-{{ level }}{% if classname %} {{ classname }}{% endif %}" role="alert"{% if dismissible %} data-controller="dismissible"{% if dismissible_focused %} data-dismissible-focused-value="{{ dismissible_focused }}"{% endif %}{% endif %}>
  <div class="flex-auto">{{ children }}</div>
  {% if dismissible %}
    <button type="button" class="ml-2 p-0.5 opacity-85 hover:opacity-100 focus:opacity-100" aria-label="Fermer" data-action="click->dismissible#dismiss">
      {% icon "close" classname="size-5" %}
    </button>
  {% endif %}
</div>
