{% comment "text/markdown" %}
  Variables this template accepts:

  - `legend` - An optional legend string.
  - `classname` - String of CSS classes to apply to the fieldset element.
  - `children` - The divider's content.

{% endcomment %}
<fieldset class="pb-6 mb-8 border-b border-gray-300 last:pb-0 last:mb-0 last:border-b-0{% if classname %} {{ classname }}{% endif %}">
  {% if legend %}
    <legend class="mb-4 font-heading text-2xl text-secondary-700">{{ legend }}</legend>
  {% endif %}
  {{ children }}
</fieldset>
