{% comment "text/markdown" %}
  Variables this template accepts:

  - `name` - The icon name to load.
  - `classname` - String of CSS classes to apply to the <svg> element.

{% endcomment %}
{% load static %}{% spaceless %}
<svg class="fill-current{% if classname %} {{ classname }}{% endif %}" aria-hidden="true">
  <use xlink:href="{% static "icons-sprite.svg" %}#{{ name }}" />
</svg>
{% endspaceless %}
