{% load wagtailcore_tags %}
<nav class="font-heading" aria-label="Menu principal">
  <ul class="flex justify-center text-black">
    {% for page in items %}
      <li
        class="relative"
        {% if page.has_children %}
          data-controller="dropdown"
          data-dropdown-opened-class="text-secondary-600"
          data-action="mouseleave->dropdown#close"
        {% endif %}
      >
        <a
          href="{% pageurl page %}"
          class="flex items-center py-4 px-5 text-lg uppercase {% if page.is_active %}text-black bg-secondary{% else %}hover:text-secondary-600{% endif %}"
          {% if page.is_current %}aria-current="page"{% endif %}
          {% if page.has_children %}
            aria-haspopup="true"
            aria-expanded="false"
            data-action="mouseenter->dropdown#open"
            data-dropdown-target="toggler"
          {% endif %}
        >
          <span>{{ page.title }}</span>
          {% if page.has_children %}
            {% icon "chevron-down" classname="ml-2 size-3" %}
          {% endif %}
        </a>
        {% if page.has_children %}
          <ul class="absolute right-0 top-full min-w-full bg-white shadow-sm" id="subMenu{{ page.pk }}" data-dropdown-target="content" hidden>
            {% for child_page in page.children %}
              <li>
                <a
                  href="{% pageurl child_page %}"
                  class="block py-2 px-4 whitespace-nowrap text-gray-900 {% if child_page.is_active %}text-black bg-secondary-200{% else %}hover:bg-gray-100{% endif %}"
                  {% if child_page.is_current %}aria-current="page"{% endif %}
                >
                  {{ child_page.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
