{% load wagtailcore_tags %}
<nav class="mt-12 font-heading" aria-label="Menu principal">
  <ul class="flex flex-col">
    {% for page in items %}
      <li
        class="overflow-hidden flex flex-wrap items-stretch{% if page.is_active %} text-black bg-secondary{% endif %}"
        {% if page.has_children %}
          data-controller="dropdown"
          {% if not page.is_active %}
            data-dropdown-opened-class="text-secondary-600"
          {% endif %}
        {% endif %}
      >
        <a
          href="{% pageurl page %}"
          class="relative flex-auto px-4 py-3 text-lg uppercase"
          {% if page.is_current %}aria-current="page"{% endif %}
        >
          {{ page.title }}
        </a>
        {% if page.has_children %}
          <button
            type="button"
            class="flex items-center justify-center px-4 transition-transform aria-expanded:rotate-180"
            aria-label="Basculer le sous-menu"
            aria-controls="subMenu{{ page.pk }}"
            aria-expanded="false"
            data-action="dropdown#toggle:stop"
            data-dropdown-target="toggler"
          >
            {% icon "chevron-down" classname="size-4" %}
          </button>
          <ul class="basis-full bg-gray-100" id="subMenu{{ page.pk }}" data-dropdown-target="content" hidden>
            {% for child_page in page.children %}
              <li>
                <a
                  href="{% pageurl child_page %}"
                  class="block py-2 pr-4 pl-6 whitespace-nowrap text-gray-900 {% if child_page.is_active %}text-black bg-secondary-200{% else %}hover:bg-gray-100{% endif %}"
                  {% if child_page.is_current %}aria-current="page"{% endif %}
                >
                  {{ child_page.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% if not forloop.last %}
        <li class="h-px bg-secondary pointers-none"></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
