{% extends "wagtailadmin/reports/base_report.html" %}
{% load wagtailadmin_tags i18n %}

{% block content %}
  {% fragment as report_actions %}
    <div class="report__actions">
      {% block actions %}
        {% if view.list_export %}
          {% include view.export_buttons_template_name %}
        {% endif %}
      {% endblock %}
    </div>
  {% endfragment %}

  {% include "wagtailadmin/shared/header.html" with title=title icon=header_icon extra_actions=report_actions %}

  <div class="nice-padding{% if filters %} filterable{% endif %}">
    <div id="listing-results">
      {% if object_list %}
        {% block results %}
          {% if is_filtering %}
            <h2 role="alert">
              {% blocktrans trimmed count counter=items_count %}
                There is {{ counter }} match
              {% plural %}
                There are {{ counter }} matches
              {% endblocktrans %}
            </h2>
          {% endif %}

          {% component table %}
          {% if is_paginated %}
            {% include "wagtailadmin/shared/pagination_nav.html" with items=page_obj linkurl=request.path %}
          {% endif %}
        {% endblock %}
      {% elif not filters.form.is_valid %}
        <p>Veuillez corriger les erreurs des filtres.</p>
      {% else %}
        <p>Il n'y a pas de résultats.</p>
      {% endif %}
    </div>
    {% if filters %}
      {% include "wagtailadmin/shared/filters.html" %}
    {% endif %}
  </div>
{% endblock %}
