{% extends "forms/layouts/default.html" %}
{% load tapeforms %}

{% block visible_fields %}
  <section class="grid grid-cols-1 items-start gap-8 md:grid-cols-3">
    {% include "includes/registration_price_details.html" with registration=form.instance %}

    <div class="md:col-span-2 md:order-first">
      <div class="prose mb-4 leading-normal">
        <p class="lead">Votre inscription est presque terminée…</p>
        <p>
        Avant de passer au paiement, nous vous demandons de prendre connaissance du <a href="{{ form.instance.race_edition.race_rules.url}}">règlement</a> ainsi que des <a href="{{ form.instance.race_edition.sale_conditions.url }}">conditions de vente</a>, et de les accepter.
        </p>
      </div>

      {% formfield form.accept_rules %}

      <div class="mt-8">
        {% formfield form.comment %}
      </div>
    </div>
  </section>
{% endblock %}
