{% extends "forms/layouts/default.html" %}
{% load tapeforms %}

{% block visible_fields %}
  <section>
    {% fieldset legend="Identité" %}
      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-full md:col-span-2">
          {% formfield form.sex %}
        </div>
        <div class="col-span-full md:col-span-5">
          {% formfield form.first_name %}
        </div>
        <div class="col-span-full md:col-span-5">
          {% formfield form.last_name %}
        </div>
        <div class="col-span-full md:col-span-5">
          {% formfield form.birthdate %}
        </div>
      </div>
    {% endfieldset %}

    {% fieldset legend="Adresse" %}
      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-full">
          {% formfield form.street_address %}
        </div>
        <div class="col-span-full md:col-span-3">
          {% formfield form.zip_code %}
        </div>
        <div class="col-span-full md:col-span-9">
          {% formfield form.city %}
        </div>
        <div class="col-span-full md:col-span-5">
          {% formfield form.country %}
        </div>
      </div>
    {% endfieldset %}

    {% fieldset legend="Contacts" %}
      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-full md:col-span-6">
          {% formfield form.email %}
        </div>
        <div class="col-span-full md:col-span-6">
          {% formfield form.phone %}
        </div>
      </div>
    {% endfieldset %}

    {% fieldset legend="Justificatif médical" %}
      <div class="prose mb-4 leading-normal">
        <p class="mb-0">
          La course est ouverte à toute personne, licenciée ou non. Tout participant doit cependant fournir un justificatif médical au choix :
        </p>
        <ul class="mt-0">
          <li>
            l’attestation de votre Parcours de Prévention Santé (PPS) délivré par la FFA ;
          </li>
          <li>
            un certificat médical attestant l’absence de contre-indication à la pratique de l’athlétisme ou de la course à pied en compétition, datant de moins d’un an le jour de l’épreuve ;
          </li>
          <li>
            une licence Athlé Compétition, Athlé Entreprise, Athlé Running ou un Pass J’aime Courir, délivré par la FFA et complété par le médecin, en cours de validité à la date de l’épreuve ;
          </li>
        </ul>
      </div>

      <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-full">
          {% formfield form.medical_certificate %}
        </div>
        <div class="col-span-full md:col-span-5">
          {% formfield form.ffa_license_number %}
        </div>
        <div class="col-span-full md:col-span-7">
          {% formfield form.club %}
        </div>
      </div>
    {% endfieldset %}
  </section>
{% endblock %}
