.alert {
  @apply mb-4 flex items-start justify-between p-4;

  --alert-color: theme(colors.black / 90%);
  --alert-bg: transparent;
  --alert-border-color: theme(colors.black / 90%);

  color: var(--alert-color);
  background-color: var(--alert-bg, transparent);
  /* stylelint-disable-next-line property-disallowed-list */
  border-left: 2px solid var(--alert-border-color);

  a {
    color: var(--alert-link-color, var(--alert-color));
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
      color: var(--alert-hover-link-color, var(--alert-color));
    }
  }

  p + p {
    @apply mt-1;
  }
}

.alert-info {
  --alert-color: theme(colors.blue.900);
  --alert-bg: theme(colors.blue.100);
  --alert-border-color: theme(colors.blue.900);
  --alert-hover-link-color: theme(colors.blue.950);

  a:focus-visible,
  button:focus-visible {
    @apply ring-blue-900 ring-opacity-60;
  }
}

.alert-success {
  --alert-color: theme(colors.green.900);
  --alert-bg: theme(colors.green.100);
  --alert-border-color: theme(colors.green.900);
  --alert-hover-link-color: theme(colors.green.950);

  a:focus-visible,
  button:focus-visible {
    @apply ring-green-900 ring-opacity-60;
  }
}

.alert-warning {
  --alert-color: theme(colors.yellow.900);
  --alert-bg: theme(colors.yellow.100);
  --alert-border-color: theme(colors.yellow.900);
  --alert-hover-link-color: theme(colors.yellow.950);

  a:focus-visible,
  button:focus-visible {
    @apply ring-yellow-900 ring-opacity-60;
  }
}

.alert-error {
  --alert-color: theme(colors.red.900);
  --alert-bg: theme(colors.red.100);
  --alert-border-color: theme(colors.red.900);
  --alert-hover-link-color: theme(colors.red.950);

  a:focus-visible,
  button:focus-visible {
    @apply ring-red-900 ring-opacity-60;
  }
}
