.burger {
  @apply p-4;
}

.burger__line {
  @apply bg-current transition-opacity transition-transform;

  width: 28px;
  height: 3px;
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  margin-bottom: 7px;
  display: block;
  border-radius: 3px;

  &:last-child {
    /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
    margin-bottom: 1px;
  }

  [aria-expanded='true'] > & {
    opacity: 0;

    &:first-of-type {
      transform: translateY(10px) rotate(45deg);
      opacity: 1;
    }

    &:last-child {
      transform: translateY(-10px) rotate(-45deg);
      opacity: 1;
    }
  }
}
