.btn-group {
  @apply relative inline-flex rounded-md align-middle;

  > .btn {
    @apply relative flex-auto;

    &:hover,
    &:focus,
    &:active {
      /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
      z-index: 1;
    }

    + .btn {
      @apply -ml-px;
    }

    &:not(:last-child) {
      @apply rounded-r-none;
    }

    &:nth-child(n + 3),
    + .btn {
      @apply rounded-l-none;
    }
  }
}
