.btn {
  @apply inline-block rounded px-3.5 py-2 text-center align-middle text-base transition-colors;

  --btn-color: currentcolor;
  --btn-bg: transparent;
  --btn-border-color: transparent;
  --btn-hover-border-color: transparent;

  color: var(--btn-color);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border-color);

  &:hover,
  &:active {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
  }

  &:disabled {
    @apply pointer-events-none;

    color: var(--btn-color);
    background-color: var(--btn-bg);
    border-color: var(--btn-border-color);
    opacity: 0.65;
  }
}

.btn-primary {
  --btn-color: theme(colors.white);
  --btn-bg: theme(colors.primary.DEFAULT);
  --btn-border-color: theme(colors.primary.DEFAULT);
  --btn-hover-color: theme(colors.white);
  --btn-hover-bg: theme(colors.primary.900);
  --btn-hover-border-color: theme(colors.primary.900);

  &:focus-visible {
    @apply ring-primary-900 ring-opacity-60;
  }
}

.btn-secondary {
  --btn-color: theme(colors.black);
  --btn-bg: theme(colors.secondary.DEFAULT);
  --btn-border-color: theme(colors.secondary.DEFAULT);
  --btn-hover-color: theme(colors.black);
  --btn-hover-bg: theme(colors.secondary.600);
  --btn-hover-border-color: theme(colors.secondary.600);

  &:focus-visible {
    @apply ring-secondary-600 ring-opacity-60;
  }
}

.btn-outline-primary {
  --btn-color: theme(colors.primary.DEFAULT);
  --btn-border-color: theme(colors.primary.DEFAULT);
  --btn-hover-color: theme(colors.white);
  --btn-hover-bg: theme(colors.primary.DEFAULT);
  --btn-hover-border-color: theme(colors.primary.DEFAULT);

  &:focus-visible {
    @apply ring-primary ring-opacity-60;
  }
}

.btn-outline-error {
  --btn-color: theme(colors.red.DEFAULT);
  --btn-border-color: theme(colors.red.DEFAULT);
  --btn-hover-color: theme(colors.white);
  --btn-hover-bg: theme(colors.red.DEFAULT);
  --btn-hover-border-color: theme(colors.red.DEFAULT);

  &:focus-visible {
    @apply ring-red ring-opacity-60;
  }
}

.btn-sm {
  @apply rounded-sm px-2 py-1;

  font-size: theme(fontSize.sm);
}

.btn-lg {
  @apply px-4;

  font-size: theme(fontSize.xl);
}

.btn-icon {
  @apply inline-flex items-center gap-1;
}
