.ol-map {
  --ol-background-color: theme(colors.white);
  --ol-accent-background-color: theme(colors.gray.50);
  --ol-subtle-background-color: rgb(128 128 128 / 25%);
  --ol-partial-background-color: rgb(255 255 255 / 75%);
  --ol-foreground-color: theme(colors.gray.900);
  --ol-subtle-foreground-color: theme(colors.gray.700);
  --ol-brand-color: theme(colors.primary.DEFAULT);
}

.ol-control button {
  &:focus {
    outline-offset: 0;
  }
}

.ol-attribution {
  &.ol-uncollapsible {
    @apply shadow-sm;
  }

  ul {
    @apply px-2 py-1 text-xs;
  }

  a {
    @apply underline underline-offset-2 hover:text-gray-900;
  }
}
