{% load fields %}
<div class="form-file mt-1" data-controller="file-input" data-file-input-clearable-class="form-file--clearable" data-file-input-empty-value="Aucun fichier sélectionné."{% if widget.value %} data-file-input-current-value="{{ widget.value.name|filename }}"{% endif %}>
  <label class="relative flex flex-auto">
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} data-file-input-target="input">
    <span class="form-file__selector">Choisir un fichier…</span>
    <span class="form-file__filename" data-file-input-target="filename"></span>
  </label>
  <button type="button" class="form-file__clear" data-action="click->file-input#clear">
    <span class="inline-flex items-center gap-1 leading-none">
      {% icon "trash" classname="size-3" %}Effacer
    </span>
  </button>
  {% if widget.value and not widget.required and not widget.attrs.disabled %}
    <input type="hidden" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}" data-file-input-target="clear">
  {% endif %}
</div>
