{% extends "registration/base.html" %}

{% block content_body %}
  <p class="mb-4">Êtes vous sûr⋅e de vouloir annuler votre inscription ?</p>
  <form action="{{ cancel_url }}" method="POST">
    {% csrf_token %}
    <div class="flex justify-start gap-4">
      <button type="submit" class="btn btn-outline-error">Oui, annuler</button>
      <a href="{{ register_url }}" class="btn btn-outline-primary">Non, reprendre</a>
    </div>
  </form>
{% endblock %}
