{% extends "registration/base.html" %}
{% load wagtailcore_tags %}

{% block content_body %}
  {% alert level="success" %}
    <h4 class="text-lg font-bold">L'inscription pour {{ object.get_full_name }} est validée !</h4>
    <p>Un courriel récapitulant votre inscription a été envoyé à l'adresse mail que vous avez renseignée.</p>
  {% endalert %}

  <a href="{% pageurl race_edition.race %}" class="btn btn-outline-primary btn-icon">
    {% icon "chevron-left" classname="size-3" %}Retourner à la course
  </a>
{% endblock %}
