{% extends "registration/base.html" %}
{% load tapeforms %}

{% block content_body %}
  <nav aria-label="Étapes de l'inscription">
    <ol class="mb-8 rounded border border-gray-300 md:flex" role="list">
      {% for step in steps %}
        <li class="relative flex-1">
          {% if step.is_previous %}
            <a href="{{ step.url }}" class="flex w-full items-center px-6 py-4 text-black hover:text-primary">
              <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-primary">
                {% icon "check" classname="size-5 text-white" %}
              </span>
              <span class="ml-4 leading-tight">{{ step.label }}</span>
            </a>
          {% else %}
            <div class="flex w-full px-6 py-4 items-center {% if step.is_current %}text-primary{% else %}text-gray-700{% endif %}">
              <span class="flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-current">
                <span class="font-medium">{{ forloop.counter|stringformat:"02d" }}</span>
              </span>
              <span class="ml-4 leading-tight">{{ step.label }}</span>
            </div>
          {% endif %}
          {% if not forloop.last %}
            <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
              <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round"/>
              </svg>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>

  <form action="{{ steps.current.url }}" method="post" autocomplete="off" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% form form %}

    <div class="mt-8 flex justify-end gap-4 border-t border-gray-300 pt-6">
      <a href="{{ cancel_url }}" class="btn">Annuler</a>
      <button type="submit" class="btn btn-primary">
        {% if steps.has_next %}Continuer{% else %}Confirmer et payer{% endif %}
      </button>
    </div>
  </form>
{% endblock %}
