{% extends "pages/base.html" %}
{% load wagtailroutablepage_tags tapeforms %}

{% block page_max_width_class %}max-w-screen-sm{% endblock %}

{% block extra_page_header %}
  <h3 class="mt-2 text-right text-xl uppercase text-gray-900 sm:text-center">Laisser un message</h3>
{% endblock %}

{% block content_body %}
  <form action="{% routablepageurl page "add_entry" %}" method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    {% form form %}

    <div class="mt-8 flex justify-end gap-4 border-t border-gray-300 pt-6">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
{% endblock %}
