<div class="{{ classname }}">
  {% if help_text %}
    <div class="c-sf-help">
      <div class="help">
        {{ help_text }}
      </div>
    </div>
  {% endif %}

  <div class="headcount-row">
    <div class="w-field" data-contentpath="{{ children.current.block.name }}">
      {{ children.current.render_form }}
    </div>
    <div class="headcount-row__separator">/</div>
    <div class="w-field" data-contentpath="{{ children.needed.block.name }}">
      {{ children.needed.render_form }}
    </div>
  </div>

  <div class="w-field" data-contentpath="{{ children.details.block.name }}">
    {{ children.details.render_form }}
  </div>
</div>
