{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="grid flex-auto place-items-center px-4">
    <div class="max-w-screen-sm text-center">
      <h2 class="font-heading text-4xl font-bold uppercase text-black md:text-5xl">{{ page_title }}</h2>
      {% if message %}
        <p class="mt-4">{{ message }}</p>
      {% endif %}
      <a href="{% pageurl root_page %}" class="btn btn-outline-primary mt-8">Aller à la page d'acceuil</a>
    </div>
  </div>
{% endblock %}
