{% extends "base.html" %}

{% block title %}Erreur inattendue{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
  <div class="grid flex-auto place-items-center px-4">
    <div class="max-w-screen-sm text-center">
      <h2 class="font-heading text-4xl font-bold uppercase text-black md:text-5xl">Erreur serveur</h2>
      <p class="mt-4">Une erreur inattendue est survenue. Nous en avons été informé mais nous vous invitons à nous le signaler pour trouver une solution, d'autant plus si l'erreur persiste.</p>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
