{% load static %}<!DOCTYPE html>
<html class="h-full" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ seo_title }}{% endblock %} - 100km à pied de Steenwerck</title>

    {% if search_description %}
      <meta name="description" content="{{ search_description }}">
    {% endif %}

    {% if request.in_preview_panel %}
      <base target="_blank">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#006b7f">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#006b7f">
    <meta name="msapplication-config" content="{% static "browserconfig.xml" %}">
    <meta name="theme-color" content="#006b7f">

    {% block css %}
      <link rel="stylesheet" href="{% static "main.css" %}">
    {% endblock %}

    {% block javascript %}
      <script>
        window.STATIC_URL = '{% get_static_prefix %}';
      </script>
      <script src="{% static "main.js" %}"></script>
    {% endblock %}

    {% block extra_head %}{% endblock %}

    {% if site_settings.is_tracking_enabled %}
      {% include "includes/tracking_code.html" %}
    {% endif %}
  </head>
  <body class="flex h-full flex-col bg-gray-100 font-body text-base text-gray-900">
    {% block topbar %}
      {% include "includes/topbar.html" %}
    {% endblock %}

    <main class="relative flex flex-auto flex-col">
      {% block content %}
        {% block page_header %}
          <div class="mx-auto my-8 w-full max-w-screen-xl px-4">
            <h2 class="text-right font-heading text-4xl font-bold uppercase text-black sm:text-center">
              {{ page_title }}
            </h2>

            {% block extra_page_header %}{% endblock %}
          </div>
        {% endblock %}

        <div class="flex overflow-hidden flex-col flex-auto mx-auto w-full {% block page_max_width_class %}max-w-screen-xl{% endblock %} shadow-sm xl:rounded-t">
          {% block content_header %}{% endblock %}

          <div class="flex-auto bg-white p-4 md:p-6">
            {% if messages %}
              {% for message in messages %}
                {% alert level=message.level_tag dismissible=True %}
                  {{ message }}
                {% endalert %}
              {% endfor %}
            {% endif %}

            {% block content_body %}{% endblock %}
          </div>

          {% block page_footer %}{% endblock %}
        </div>
      {% endblock %}
    </main>

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}
  </body>
</html>
