{% load wagtailimages_tags %}
<figure class="mb-6">
  {% if value.link.url %}
    <a href="{{ value.link.url }}" class="block">
  {% endif %}
  {% image value.image max-1240x1240 %}
  {% if value.link.url %}
    </a>
  {% endif %}
  {% if value.caption %}
    <figcaption class="mt-2 text-sm text-gray-700">{{ value.caption }}</figcaption>
  {% endif %}
</figure>
