{% load wagtailimages_tags %}
<ul class="mb-4 grid grid-cols-2 items-center justify-items-center gap-8 sm:grid-cols-3 md:gap-12 lg:grid-cols-6">
  {% for image_block in value.images %}
    <li class="relative">
      <figure>
        {% if image_block.link.url %}
          <a href="{{ image_block.link.url }}" class="block transition-opacity hover:opacity-90" rel="noopener">
            <span class="absolute inset-0"></span>
        {% endif %}
        {% image image_block.image width-200 %}
        {% if image_block.link.url %}
          </a>
        {% endif %}
        {% if image_block.caption %}
          <figcaption class="mt-2 text-center text-sm">{{ image_block.caption }}</figcaption>
        {% endif %}
      </figure>
    </li>
  {% endfor %}
</ul>
