<div class="mb-4 flex flex-col overflow-hidden rounded border border-solid border-gray-200 bg-gray-50 md:flex-row" data-controller="route-map" data-route-map-loops-value="{{ loops_json }}" data-route-map-selected-class="text-black !border-current">
  <div class="ol-map h-[400px] flex-auto" data-route-map-target="map"></div>

  <div class="border-t border-solid border-gray-200 p-4 md:border-l md:border-t-0">
    <p class="mb-2 font-bold">Légende</p>
    <ul class="grid grid-cols-1 gap-x-4 gap-y-1 sm:grid-cols-3 md:grid-cols-1">
      {% for loop in loops %}
        <li class="flex">
          <button class="btn btn-sm flex-auto text-left hover:text-black" title="Basculer l'affichage de cette boucle uniquement" data-route-map-target="select" data-action="route-map#toggle" data-route-map-loop-param="{{ loop.pk }}">
            <span class="mr-1 inline-block h-1 w-4 align-middle" style="background-color: {{ loop.color }};"></span>
            {{ loop.name }} ({{ loop.distance }} km)
          </button>

          <a href="{{ loop.gpx_file.url }}" class="btn btn-sm btn-icon hover:text-black" title="Télécharger le fichier GPX">
            {% icon "download" classname="size-3" %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
