{% load wagtailcore_tags %}
<div class="-mx-4 mb-4 overflow-x-auto md:-mx-6">
  <div class="inline-block align-middle sm:px-4 md:px-6">
    <div class="overflow-hidden border-y border-gray-300 sm:rounded sm:border-x">
      <table>
        <thead>
          <tr>
            {% for col in value.columns %}
              <th scope="col" class="bg-gray-50 px-4 py-3 text-left font-medium text-black">
                {{ col.heading }}
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in value.rows %}
            <tr class="border-t border-gray-300">
              {% for block in row %}
                <td class="py-3 px-4 align-baseline whitespace-nowrap{% if block.cell_classname %} {{ block.cell_classname }}{% endif %}">
                  {% include_block block %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
