<div class="{% if container_css_class %}{{ container_css_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
  {% if widget_class_name == "checkboxinput" %}
    <div class="flex items-start gap-x-2">
      {{ field }}
      <label{% if field_id %} for="{{ field_id }}"{% endif %}>
        {{ label }}{% if required %} <span class="text-red">*</span>{% endif %}
      </label>
    </div>
  {% else %}
    {% if label %}
      <label{% if label_css_class %} class="{{ label_css_class }}"{% endif %}{% if field_id %} for="{{ field_id }}"{% endif %}>
        {{ pre_label }}
        {{ label }}
        {{ post_label }}
        {% if required %} <span class="text-red">*</span>{% endif %}
      </label>
    {% endif %}
    {{ field }}
  {% endif %}

  {% for error in errors %}
    <p class="mt-1 text-sm text-red">{{ error }}</p>
  {% endfor %}

  {% if help_text %}
    <div class="mt-1 text-sm text-gray-700">{{ help_text }}</div>
  {% endif %}
</div>
