<details class="{% if container_css_class %}{{ container_css_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %} group"{% if field.data %} open{% endif %}>
  <summary class="relative flex w-full cursor-pointer list-none items-center justify-between border-b border-gray-300 py-4">
    <span class="text-left font-medium uppercase">
      {{ label }}{% if required %} <span class="text-red">*</span>{% endif %}
    </span>
    <span class="flex items-center justify-center px-4 transition-transform group-open:rotate-180">
      {% icon "chevron-down" classname="size-4" %}
    </span>
  </summary>

  <div class="pt-4">
    {% if help_text %}
      <div class="mb-2 text-sm text-gray-700">{{ help_text }}</div>
    {% endif %}

    {% for error in errors %}
      <p class="mb-2 text-sm text-red">{{ error }}</p>
    {% endfor %}

    {{ field }}
  </div>
</details>
