<p class="flex-auto">
  <b class="block">{{ object.name }}</b>
  {% if object.description %}
    <small class="mt-1 block text-gray-700">{{ object.description|linebreaksbr }}</small>
  {% endif %}
</p>
<span class="whitespace-nowrap">{{ object.price.normalize }} €</span>
