{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block extra_page_header %}
  {% if page.introduction and page.show_introduction_in_header %}
    <hr class="my-4 ml-auto max-w-[100px] border-t-4 border-solid border-primary sm:mx-auto" />

    <div class="prose text-right text-lg leading-normal sm:text-center md:text-xl">
      {{ page.introduction|richtext }}
    </div>
  {% endif %}
{% endblock %}

{% block content_header %}
  {% if page.banner_image %}
    <div class="relative">
      {% srcset_image page.banner_image fill-{300x80,768x200,1024x250,1280x260}-c10 sizes="(max-width: 1280px) 100vw, 1280px" class="w-full" alt="" decoding="async" fetchpriority="high" %}
    </div>
  {% endif %}
{% endblock %}
