{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block content_header %}
  {{ block.super }}

  {% pagedivider %}
    <div class="flex flex-col items-center gap-6 md:flex-row">
      <div class="flex-auto">
        {% if entries %}
          <b>{{ page_obj.paginator.count }}</b> messages dans le livre d'or
        {% endif %}
      </div>

      <a href="{% routablepageurl page "add_entry" %}" class="btn btn-primary">Laisser un message</a>
    </div>
  {% endpagedivider %}
{% endblock %}

{% block content_body %}
  {% if entries %}
    <div class="flex flex-col" id="messages">
      {% for entry in page_obj %}
        <div class="mt-6 grid gap-4 border-t border-solid border-gray-300 pt-6 md:grid-cols-3 first:mt-0 first:pt-0 first:border-t-0" id="message-{{ entry.id }}">
          <div class="flex gap-3 md:flex-col md:gap-1">
            <p class="font-medium text-black">{{ entry.name }}</p>
            <time class="border-l border-solid border-gray-300 pl-3 text-gray-700 md:pl-0 md:border-l-0" datetime="{{ entry.date|date:"Y-m-d" }}">
              {{ entry.date|date }}
            </time>
          </div>
          <div class="md:col-span-2">
            <p>{{ entry.message|linebreaksbr }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Il n'y a aucun message pour le moment.</p>
  {% endif %}
{% endblock %}

{% block page_footer %}
  {% if page_obj.has_previous or page_obj.has_next %}
    {% pagedivider %}
      <div class="flex flex-col items-center justify-center gap-4 md:flex-row md:justify-between">
        <span class="text-sm">
          Page <b>{{ page_obj.number }}</b> sur <b>{{ page_obj.paginator.num_pages }}</b>
        </span>
        <nav class="btn-group" aria-label="Changement de page">
          {% if page_obj.has_previous %}
            <a href="?p={{ page_obj.previous_page_number }}" class="btn btn-outline-primary btn-icon">
              {% icon "chevron-left" classname="size-3" %}Plus récents
            </a>
          {% else %}
            <button class="btn btn-outline-primary btn-icon" disabled>
              {% icon "chevron-left" classname="size-3" %}Plus récents
            </button>
          {% endif %}

          {% if page_obj.has_next %}
            <a href="?p={{ page_obj.next_page_number }}" class="btn btn-outline-primary btn-icon">
              Plus anciens{% icon "chevron-right" classname="size-3" %}
            </a>
          {% else %}
            <button class="btn btn-outline-primary btn-icon" disabled>
              Plus anciens{% icon "chevron-right" classname="size-3" %}
            </button>
          {% endif %}
        </nav>
      </div>
    {% endpagedivider %}
  {% endif %}
{% endblock %}
