{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block topbar %}
  {% if page.is_alert_visible %}
    <div class="z-40 bg-secondary text-black">
      <div class="container mx-auto px-2 py-3">
        <div class="flex flex-col gap-2 sm:flex-row sm:items-center md:gap-6" role="alert">
          <p class="flex-auto text-center md:text-lg">
            {{ page.alert_message }}
          </p>
          {% if page.has_alert_button %}
            <div class="text-center">
              <a href="{% pageurl page.alert_button_link %}" class="btn btn-secondary whitespace-nowrap font-bold">{{ page.alert_button_text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block content %}
  {% srcset_image page.background_image format-webp width-{300,600,1200,2000} sizes="100vw" class="z-[-1] flex-auto w-full max-h-[90vh] object-cover object-[center_10%] bg-primary pointer-events-none" alt="" decoding="async" fetchpriority="high" %}

  <div class="absolute inset-x-0 top-1/4 px-4">
    <img src="{% static "img/title.svg" %}" alt="100 km à pied de Steenwerck" class="pointer-events-none mx-auto max-w-full">
  </div>
{% endblock %}
