{% extends "pages/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content_body %}
  {% if children %}
    <div class="mx-auto grid max-w-lg grid-cols-1 gap-x-8 gap-y-12 sm:grid-cols-2 lg:grid-cols-3 sm:max-w-none">
      {% for child_page in children %}
        <article class="flex flex-col">
          {% if child_page.banner_image %}
            <div class="relative mb-4">
              {% image child_page.banner_image fill-570x110-c10 class="h-[100px] rounded object-cover" alt="" decoding="async" fetchpriority="high" %}
              <div class="absolute inset-0 rounded ring-1 ring-inset ring-black/10"></div>
            </div>
          {% endif %}
          <div class="relative">
            <h3 class="mb-2 text-center text-2xl font-bold">
              <a href="{% pageurl child_page %}" class="text-primary hover:text-primary-900">
                <span class="absolute inset-0"></span>
                {{ child_page.title }}
              </a>
            </h3>

            {% if child_page.introduction %}
              <div class="prose prose-sm">
                {{ child_page.introduction|richtext }}
              </div>
            {% endif %}
          </div>
          {% block child_page_footer %}{% endblock %}
        </article>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
