{% extends "pages/base.html" %}
{% load wagtailcore_tags %}

{% block content_body %}
  {% include_block page.body %}

  {% if site_settings.is_tracking_enabled %}
    {% include "blocks/title_block.html" with value="Analyse statistique et confidentialité" id="analyse-statistique-et-confidentialite" only %}

    {% if page.tracking_paragraph %}
      <div class="prose mb-4">
        {{ page.tracking_paragraph|richtext }}
      </div>
    {% endif %}

    <div class="mb-4" data-controller="tracking-opt-out">
      <div class="flex items-start gap-x-2">
        <input type="checkbox" id="donottrack" data-tracking-opt-out-target="input">
        <label for="donottrack">S'opposer au suivi de ma navigation sur ce site web</label>
      </div>
    </div>
  {% endif %}
{% endblock %}
