{% extends "pages/index_page.html" %}
{% load wagtailroutablepage_tags %}

{% block child_page_footer %}
  {% with current_edition=child_page.editions.current %}
    {% if current_edition and current_edition.can_register %}
      <div class="mt-4 flex grow flex-col justify-end">
        <a href="{% routablepageurl child_page "register" edition_issue=current_edition.issue %}" class="btn btn-primary">S'inscrire</a>
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
