{% extends "pages/base.html" %}
{% load wagtailcore_tags tapeforms %}

{% block page_max_width_class %}max-w-screen-lg{% endblock %}

{% block content_body %}
  <section>
    {% include_block page.body %}
  </section>

  {% if page.is_form_active and form.fields %}
    <section class="mt-8">
      {% include "blocks/title_block.html" with value="Formulaire" id="formulaire" only %}

      <form action="{% pageurl page %}" method="post" autocomplete="off" novalidate>
        {% csrf_token %}
        {% form form %}

        <div class="mt-8 flex justify-end gap-4 border-t border-gray-300 pt-6">
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
      </form>
    </section>
  {% endif %}
{% endblock %}
