{% load static navigation %}
<footer class="bg-primary py-7 text-white">
  <div class="mx-auto max-w-screen-xl px-4 xl:px-0">
    <div class="flex items-center">
      <div class="hidden flex-initial md:block">
        <img src="{% static "img/title.svg" %}" alt="100 km à pied de Steenwerck" class="pointer-events-none mr-7 h-[64px]">
      </div>
      <div class="flex-auto">
        <nav class="flex flex-col flex-wrap items-start justify-center sm:flex-row md:items-center">
          {% footer_menu root_page current_page=page %}
        </nav>
        <hr class="mx-auto my-4 max-w-lg border-gray-300">
        <div class="text-center text-sm text-gray-200">
          Développé sous <a class="underline underline-offset-2 hover:text-secondary" href="https://framagit.org/100km-steenwerck/website">licence libre</a> avec du <a class="underline underline-offset-2 hover:text-secondary" href="https://fr.wikipedia.org/wiki/Logiciel_libre">logiciel libre</a>
        </div>
      </div>
    </div>
  </div>
</footer>
