{% load wagtailroutablepage_tags %}
{% pagedivider %}
  <div class="flex flex-col gap-6 md:flex-row">
    <dl class="grid flex-auto grid-cols-3 gap-x-2 gap-y-4 md:flex md:justify-evenly">
      <div class="col-span-3 grid grid-cols-subgrid items-baseline md:grid-cols-1 md:text-center">
        <dt class="text-sm font-medium uppercase">Départ</dt>
        <dd class="col-span-2">{{ race_edition.start_at|date:"l j F Y \à G:i"|capfirst }}</dd>
      </div>
      <div class="col-span-3 grid grid-cols-subgrid items-baseline md:grid-cols-1 md:text-center">
        <dt class="text-sm font-medium uppercase">Distance</dt>
        <dd class="col-span-2">{{ race_edition.distance.normalize }} km</dd>
      </div>
      {% if race_edition.has_registration %}
        <div class="col-span-3 grid grid-cols-subgrid items-baseline md:grid-cols-1 md:text-center">
          <dt class="text-sm font-medium uppercase">Tarif</dt>
          <dd class="col-span-2">{{ race_edition.registration_price.normalize }} €</dd>
        </div>
        {% if race_edition.registration_required_age %}
          <div class="col-span-3 grid grid-cols-subgrid items-baseline md:grid-cols-1 md:text-center">
            <dt class="text-sm font-medium uppercase">Âge requis</dt>
            <dd class="col-span-2">{{ race_edition.registration_required_age }} ans</dd>
          </div>
        {% endif %}
      {% endif %}
    </dl>
    {% if show_registration_status %}
      {% if race_edition.has_registration %}
        {% if race_edition.can_register %}
          <a href="{% routablepageurl page "register" edition_issue=race_edition.issue %}" class="btn btn-primary md:self-center">S'inscrire</a>
        {% else %}
          <p class="text-center text-sm md:max-w-44">
            {% if race_edition.is_registration_ended %}
              Les inscriptions sont terminées.
            {% else %}
              Les inscriptions ne sont pas encore ouvertes.
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
    {% else %}
      <div class="flex flex-row gap-6 self-center text-sm md:flex-col md:gap-1 md:text-right">
        <a href="{{ race_edition.race_rules.url }}" class="underline underline-offset-2 hover:text-black">Règlement</a>
        <a href="{{ race_edition.sale_conditions.url }}" class="underline underline-offset-2 hover:text-black">Conditions de vente</a>
      </div>
    {% endif %}
  </div>
{% endpagedivider %}
