<div class="overflow-hidden rounded border border-gray-300">
  <h4 class="border-b border-gray-300 bg-gray-50 p-4 text-center font-heading font-bold uppercase">
    Frais d'inscription
  </h4>
  <div class="p-4">
    <ul class="space-y-4">
      <li class="flex justify-between gap-x-4">
        <h5>{{ registration.race_edition.race }}</h5>
        <span class="whitespace-nowrap">{{ registration.race_edition.registration_price }} €</span>
      </li>
      {% for subscribed_option in registration.subscribed_options.all %}
        <li class="flex justify-between gap-x-4">
          <h5>1 x {{ subscribed_option.option.name }}</h5>
          <span class="whitespace-nowrap">{{ subscribed_option.price }} €</span>
        </li>
      {% endfor %}
    </ul>
    <dl class="mt-4 border-t border-gray-300 pt-4">
      <div class="flex justify-between gap-x-4">
        <dt class="font-bold uppercase">Total</dt>
        <dd class="font-bold">{{ registration.total_price }} €</dd>
      </div>
    </dl>
  </div>
</div>
