{% load static wagtailcore_tags navigation %}
<header class="relative z-40">
  <div class="bg-primary text-white">
    <div class="mx-auto max-w-screen-2xl px-2 py-3">
      <div class="flex items-center justify-end gap-4 md:gap-6">
        <span class="font-heading text-lg font-bold">{{ site_settings.event_date }}</span>

        {% if site_settings.facebook_url %}
          <a href="{{ site_settings.facebook_url }}" rel="noopener" aria-label="Page Facebook">
            {% icon "facebook" classname="size-6" %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm">
    <div class="mx-auto max-w-screen-2xl">
      <a href="{% pageurl root_page %}" class="absolute top-0 z-50 m-2" aria-label="Aller à la page d'accueil">
        <img src="{% static "img/icon_topbar.png" %}" alt="100 km à pied de Steenwerck - Depuis 1976">
      </a>

      <div class="hidden pl-[116px] md:block lg:pl-0">
        {% main_menu root_page current_page=page %}
      </div>

      <div class="flex justify-end md:hidden">
        <button type="button" class="burger aria-expanded:text-secondary-600" aria-controls="mobile-menu" aria-expanded="false" aria-label="Basculer le menu mobile">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="fixed inset-0 z-30 translate-x-full overflow-y-auto bg-white md:hidden" id="mobile-menu" data-mobile-menu data-mobile-menu-opened-class="!translate-x-0 transition-transform">
  {% main_menu_mobile root_page current_page=page %}
</div>
